<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>Sorry we can't find the <i> <%= subreddit %> </i> subreddit!</h1>
  </body>
</html>
